<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
      <add key="DbConnectionString" value ="data source=DESKTOP-V6E472A;initial catalog=dbProducts;trusted_connection=true"/>
    </appSettings>
</configuration>